# ----- IGNORE ALL BINARY FILES
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/

!MakeFile
!Makefile
!makefile


# Ignore cargo(rust) output folder
**/target/

# Ignore vscode folders
**/.vscode

